html ,
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* line-height: 1.42857143; */
    /* color: #333;
    background-color: #fff; */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-personal-team {
    background-color:#202020;
  }

  .text-message-color {
    color: rgb(255, 255, 255, .64)
  }
  
  .text-size-title {
    font-size: 3rem;
  }
  
  .text-size-message {
    font-size: 1.35rem;
  }
