@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rubik', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-clipboard {
  font-size: .6rem;
}

.text-appID {
  font-size:.6rem;
}

.text-gray-item {
  /* color: #696969; */
  color: #808080
}

.bg-gray-button {
  background-color: #202020;
}


.text-clipboard {
  font-size: .6rem;
}

.text-appID {
  font-size:.6rem;
}


.text-color-item {
  /* color: #696969; */
  color: #696969;
 
}

/* Works */
.bg-item-button-hover:hover {
  /* background-color: #404040; */
  background-color:rgb(255, 255, 255, .64);
  border-radius: 5px;
}

/* Button Background Container */
.button-background-container{
  background-image: url("/opacity-button.png");
  /* background-color: rgba(241,61,212,1); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-blend-mode: multiply; */
  opacity: .6;
  /* overflow: hidden; */
}

/* Linear background size */
.linear-size-button {
  width: 13.1rem;
  height: 2.87rem;
  border-radius: .27rem;
}

/* Button home size */
.button-home-size {
  width: 12.88rem;
  height: 2.58rem;
 }

.bg-personal-team {
  background-color:#202020;
}
.text-team-color{
  color: #696969;
}

.bg-presence-gray {
  background-color: #696969;;
}

.border-details-item {
  border-bottom: 1.3px solid rgb(228, 221, 221);
}

.text-message-color {
  color: rgb(255, 255, 255, .64)
}

.text-size-title {
  font-size: 3rem;
}

.text-size-message {
  font-size: 1.35rem;
}


/* Mobile design */

@media only screen and (max-width: 600px) {
  .text-size-title {
    font-size: 3rem;
  }
} 

.text-size-xs {
  font-size: 27px;
}

.linear-background-color {
  background: rgb(248,58,58);
background: linear-gradient(90deg, rgba(248,58,58,1) 0%, rgba(241,61,212,1) 35%, rgba(112,0,255,1) 100%);
}


/* Linear background size */
.linear-size-button {
  width: 13.1rem;
  height: 2.87rem;
  border-radius: .27rem;
}

/* Mobile design */

@media screen and (max-width: 438px) {

  /* {Header page  responsive mobile desgin} */
   .logo-header-mobile{
     width: 7rem;
     height: 6rem;
   }
   .console-header-mobile {
     width: 4.5rem;
     height: 2rem;
   }
 
 .console-header-text--mobile {
   font-size: .9rem;
 }
 
  /* {Home page  responsive mobile desgin} */
   .text-home-title {
       font-size: 1.8rem;
       margin-top: 2rem;
   }

   /* Home text title */
   .text-title-margin-max-640 {
    margin-top: .0005rem;
    color: aqua;
 }

   .text-home-title-animation {
       font-size: 1.8rem;
     
   }
 
   .text-home-message{
     font-size: 1rem;
   }
  
   .presence-info-margin-max-438 {
     margin-bottom: .3rem;
     margin-top: .6rem;

   }

   .linear-size-button {
    width: 10.31rem;
    height: 2.78rem;
    border-radius: .27rem;
  } 

   .button-home-size {
     width:   160px;
     /* width:   10rem; */
    font-size: .134rem;
     height: 2.5rem;
   } 
 
   /* Linear background size */
    /* .linear-size-button {
      width: 13.1rem;
      height: 2.87rem;
      border-radius: .27rem;
    }
   .text-home-button{
     font-size: .7rem;
   } */

 
 }

 /* Mobile 521 */
 /* @media screen and (max-width: 519px) { */
   /* .linear-button-521 {
    width: 13.1rem;
    height: 2.87rem;
    border-radius: .27rem;
   } */

    /* Button home size */
   /* .button-home-size {
    width: 12.7rem;
    height: 2.58rem;
  } 

  .linear-background-color {
    background: rgb(248,58,58);
  background: linear-gradient(90deg, rgba(248,58,58,1) 0%, rgba(241,61,212,1) 35%, rgba(112,0,255,1) 100%);
  }

  .home-text-button-mobile {
    /* font-size: .5rem; */
    /* padding: 0  .1rem;
  }
 } */ 

 @media screen and (max-width: 640px) {

  /* Home text title */
  .text-title-margin-max-640 {
     margin-top: .5rem;
  }

  /* Header nav container */

  .nav-container-margin-max-640 {
     margin-top: .5rem;
  }


}

@media screen and (max-width: 1023px) {

 /* {defaultHeader responsive mobile design page} */
  .logo-defaultHeader-mobile{
    width: 10rem;
    height: 5rem;
    object-fit: contain;
    background-color: red;

  }
  .leftContainer-defaultHeader-mobile{
     row-gap: .5rem;
     
  }

    /* .linear-size-button {
    width: 10.31rem;
    height: 2.78rem;
    border-radius: .27rem;
  }

   .button-home-size {
     width: 10rem;
     height: 2.5rem;
   } */
}

 /* @media screen and (max-width: 1023px) { */

  /* {defaultHeader responsive mobile design page} */
   /* .logo-defaultHeader-mobile{
     width: 10rem;
     height: 5rem;
     object-fit: contain;
     background-color: red;

   }
   .leftContainer-defaultHeader-mobile{
      row-gap: .5rem;
      
   }
 } */
  


