@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-clipboard {
  font-size: .6rem;
}

.text-appID {
  font-size:.6rem;
}

.text-gray-item {
  /* color: #696969; */
  color: #808080
}

.bg-gray-button {
  background-color: #202020;
}

